html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset Css End */
@font-face {
  font-family: tekton-pro;
  src: url(/TektonPro-Regular.otf);
}
@font-face {
  font-family: Calibri;
  src: url(/CALIBRI.ttf);
}
* {
  box-sizing: border-box;
}
:root {
  --main-bg-color: #1d1818;
  --main-red-color: #ff0000;
  --second-red-color: #ef5454;
  --main-dark-gray-color: #3f3b3b;
  --main-gray-color: #707070;
  --second-gray-color: #dadada;
  --main-green-color: #00f629;
  --header-height: 50px;
  --big-font-size: 25px;
  --normal-font-size: 20px;
  --small-font-size: 14px;
  --post-image-size: 36px;
  --header-icon-size: 25px;
  --content-icon-size: 22px;
}
body {
  background-color: var(--main-bg-color);
}
a {
  color: #000;
  text-decoration: none;
}
nav {
  width: 100%;
  height: var(--header-height);
  background-color: var(--main-red-color);
  display: flex;
  flex-direction: column;
}
nav div.navbar-top {
  height: var(--header-height);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav div.mobile-sub-header {
  display: none;
}
div.navbar-brand {
  display: flex;
  justify-content: center;
  height: var(--header-height);
  align-items: center;
  margin-left: 5px;
}
div.navbar-brand img.navbar-logo {
  width: 45px;
  height: 38px;
}
div.navbar-brand h1 a {
  font-size: calc(var(--big-font-size) + 4px);
  color: #fff;
  font-family: tekton-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}
ul.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}
ul.navbar-right > li {
  margin-right: 15px;
  position:relative;
  height:var(--header-height);
  display:flex;
  align-items: center;
  justify-content: center;
}
ul.navbar-right > li:first-child {
  padding-right: 12px;
  border-right: 1px solid var(--main-bg-color);
}
ul.navbar-right > li:first-child a img {
  width: calc(var(--header-icon-size) - 5px);
  height: calc(var(--header-icon-size) - 5px);
}
ul.navbar-right > li:last-child {
  margin-right: 0;
}
ul li img.nav-icon {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
}
ul li.profile-item {
  height: var(--header-height);
  background: var(--second-red-color);
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
ul li.profile-item:hover {
  cursor: pointer;
}
ul li.profile-item img.navbar-user-img {
  width: var(--post-image-size);
  height: var(--post-image-size);
  margin-right: 10px;
  border-radius: var(--post-image-size);
}
ul li.profile-item h3 {
  font-size: calc(var(--small-font-size) + 6px);
  font-weight: 700;
  color: #000;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
ul li.profile-item a.profile-caret {
  color: #000;
  padding: 0 4px;
}
li.profile-item ul.profile-actions {
  position: absolute;
  top: 100%;
  background-color: var(--second-red-color);
  width: 100%;
  border: 1px solid var(--main-gray-color);
  border-top: none;
  z-index: 999;
}
li.profile-item ul.profile-actions.hidden {
  display: none;
}
li.profile-item ul.profile-actions li {
  height: 25px;
  padding: 4px 6px;
  border-bottom: 1px solid var(--main-gray-color);
}
li.profile-item ul.profile-actions li a {
  color: #fff;
}
li.profile-item ul.profile-actions li:first-child {
  border-top: 1px solid var(--main-gray-color);
}
li.profile-item ul.profile-actions li:last-child {
  border-top: none;
}
ul.header-btns {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.navbar-right > button {
  height: calc(var(--header-height) - 20px);
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
ul.navbar-right button.btn-register {
  margin-right: 10px;
}
ul.navbar-right button:hover {
  cursor: pointer;
}
button.btn-login {
  background: var(--second-red-color);
}
button.btn-login:hover {
  background: var(--second-red-color);
}
ul.navbar-right button.btn-register {
  background: var(--main-green-color);
}
ul.navbar-right li form.search-form {
  border-bottom: 1px solid var(--main-gray-color);
  display: inline-block;
  float:left;
}
ul.navbar-right li form.search-form input {
  border: none;
  outline: none;
  background: inherit;
  color: white;
  padding: 4px 18px 4px 0;
}
ul.navbar-right li form.search-form + button {
  background: inherit;
  padding: 0;
  margin-left: -10px;
}
ul.navbar-right button.btn-register:hover {
  background: var(--main-green-color);
}
/* Left sidebar - Kanallar */
div.page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin-top: 35px;
}
aside.left-sidebar {
  max-height: 85vh;
  flex-basis: 12%;
  background-color: var(--main-dark-gray-color);
  border: 1px solid var(--main-dark-gray-color);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
aside.left-sidebar ul li a {
  color: #fff;
  font-size: var(--big-font-size);
  font-family: Tekton-pro, sans-serif;
  display: block;
  width: 100%;
  padding: 5px 0;
  font-weight: bold;
}
aside.left-sidebar ul li a:hover {
  color: var(--main-red-color);
}
aside.left-sidebar ul li a.all-groups {
  font-size: var(--small-font-size);
  text-align: right;
  text-decoration: underline;
}
aside.left-sidebar ul li a.active {
  color: var(--main-red-color) !important;
}
/* Content */

div.content {
  flex-basis: 58%;
  margin: 0 40px;
}
.default-btn {
  background: inherit;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  padding: 4px 14px;
}
.default-btn:hover {
  cursor: pointer;
}
/* New Post Page */
div.new-post-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
div.new-post-content a:hover {
  cursor: pointer;
}
div.new-post-content a img {
  width: calc(var(--header-height) - 5px);
  height: calc(var(--header-height) - 5px);
  margin-right: 15px;
}
div.new-post-content form {
  flex: 1;
}
div.new-post-content form input.post-title {
  width: 100%;
  height: var(--header-height);
  font-size: var(--normal-font-size);
  font-family: Tekton-pro, sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
}
div.new-post-form {
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.new-post-form .tab {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  position: relative;
}
div.new-post-form .tab.hidden {
  display: none !important;
}
div.new-post-form textarea.post-content {
  font-family: tekton-pro, sans-serif;
  font-weight: 700;
  border: none;
  outline: none;
  resize: none;
  flex: 1;
  font-size: var(--normal-font-size);
  padding: 4px;
}
/* Picture tab */
div.picture-tab label.custom-file-input {
  margin: auto;
}
div.picture-tab label.custom-file-input span {
  background-color: var(--main-red-color);
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
div.picture-tab label.custom-file-input:hover {
  cursor: pointer;
}
div.picture-tab label input.file-input {
  display: none;
}
div.picture-tab img {
  max-width: 100%;
  max-height: 512px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}
div.picture-tab .picture-tab-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-top: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  max-height: var(--header-height);
}
div.picture-tab .picture-tab-footer button {
  border: none;
  outline: none;
  background: inherit;
}
div.picture-tab .picture-tab-footer button:hover {
  cursor: pointer;
}
div.picture-tab .picture-tab-footer button img {
  width: var(--post-image-size);
  height: var(--post-image-size);
}
.new-post-form ul.button-container {
  width: 100%;
  height: calc(var(--header-height) - 5px);
  min-height: calc(var(--header-height) - 10px);
  background: var(--second-gray-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul.button-container li button {
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  background: inherit;
  font-family: tekton-pro, sans-serif;
  font-weight: 700;
}
ul.button-container li button:hover {
  cursor: pointer;
}
ul.button-container li img {
  width: var(--content-icon-size);
  height: var(--content-icon-size);
}
button.share-btn,
a.share-btn {
  background: var(--main-red-color) !important;
}
.new-post-content .groups-input-container {
  background-color: #fff;
  margin-left: 20px;
  border-radius: 4px;
  flex-basis: 12%;
  overflow-y: auto;
}
.new-post-content .groups-input-container h4 {
  padding: 5px;
  border-bottom: 1px solid #d1d1d1;
  font-size: var(--normal-font-size);
  font-weight: bold;
  color: var(--main-gray-color);
  text-align: center;
}
.new-post-content .groups-input-container ul li {
  font-weight: bolder;
  font-family: Tekton-pro, sans-serif;
  font-size: var(--normal-font-size);
  text-align: center;
}
.new-post-content .groups-input-container ul li a {
  display: block;
  padding: 5px 0;
}
.new-post-content .groups-input-container ul li a.active {
  background-color: var(--main-red-color);
  color: white;
}
aside.right-sidebar.new-post-sidebar {
  background-color: #000;
  color: #fff;
  font-family: Tekton-pro, sans-serif;
  font-weight: bolder;
  font-size: var(--normal-font-size);
  flex-basis: 20%;
  padding: 15px;
  margin-left: -15px;
}
/* Post */

div.home-new-post {
  display: flex;
  margin-bottom: 10px;
  background: #fff;
  height: var(--header-height);
  align-items: center;
}
div.home-new-post input {
  border: none;
  outline: none;
  flex: 1;
  font-family: Tekton-pro, sans-serif;
  font-size: var(--normal-font-size);
  height: var(--header-height);
}
div.home-new-post button {
  color: var(--second-red-color);
  font-family: Tekton-pro, sans-serif;
  font-weight: bold;
  font-size: var(--big-font-size);
}
div.home-new-post button:hover {
  color: var(--main-red-color);
}
div.post {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 2px;
}
ul.post-header.post-detail {
  display: none !important;
}
div.post ul.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}
div.post ul.post-header li {
  padding: 5px;
}
ul.post-header li img {
  width: var(--post-image-size);
  height: var(--post-image-size);
  border-radius: var(--post-image-size);
  float: left;
}
ul.post-header li div {
  float: left;
  padding: 4px;
  margin-left: 8px;
}
ul.post-header li div h3 {
  font-size: calc(var(--small-font-size) + 4px);
  color: #191919;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}
ul.post-header li div span {
  font-weight: lighter;
  font-family: Calibri, sans-serif;
  font-size: calc(var(--small-font-size) - 4px);
  display: inline-block;
  margin-top: 4px;
}
div.post-content {
  padding: 12px 20px;
}
div.post-content h1 {
  font-size: calc(var(--normal-font-size) - 1px);
  font-family: Calibri, sans-serif;
  font-weight: bolder;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
div.post-content div.text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  font-size: calc(var(--small-font-size) + 2px);
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-height: 280px;
  word-break: break-word;
}
div.post-content div.text pre{
  word-break: break-word;
  white-space:pre-wrap;
}
div.post-content div.text img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
div.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: var(--second-gray-color);
  height: calc(var(--header-height) - 8px);
}
.post-footer button {
  border: none;
  outline: none;
  background: inherit;
}
.post-footer button:hover {
  cursor: pointer;
}
.post-footer ul.post-actions li {
  display: flex;
  float: left;
}
.post-footer ul.post-actions li.post-comment-number {
  margin-left: 15px;
}
.post-footer ul.post-actions img {
  width: calc(var(--content-icon-size) - 8px);
  height: calc(var(--content-icon-size) - 8px);
}
.post-footer .post-actions span,
.post-footer .post-actions .post-comment-number a {
  font-size: var(--small-font-size);
  font-family: Calibri, sans-serif;
  font-weight: bold;
}
.post-footer ul.post-actions li.post-comment-number a {
  margin-left: 6px;
}
.post-footer ul.post-share li {
  display: inline-block;
  padding: 5px;
}
.post-footer ul.post-share img.icon {
  width: var(--content-icon-size);
  height: var(--content-icon-size);
}

.group-btn {
  background-color: var(--second-red-color);
}
/* Post Details */
.post-content-top {
  background-color: #000000;
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
}
.post-content-top a {
  position: absolute;
  left: -2em;
}
.post-content-top a:hover {
  cursor: pointer;
}
.post-content-top a img {
  width: 24px;
  height: 24px;
}
.post-content-top h1 {
  color: #fff;
  font-size: calc(var(--normal-font-size) + 2px);
  font-family: tekton-pro, sans-serif;
  padding: 0 10px;
  word-break: break-word;
}
.post-content-top span {
  color: var(--main-red-color);
  font-size: var(--small-font-size);
  margin-left: auto;
  margin-right: 10px;
}
.post-content-body {
  background-color: #fff;
  padding: 15px;
  min-height: 90px;
  word-break: break-word;
}
.post-content-body img {
  max-width: 100%;
  max-height: 512px;
  display: block;
  margin: 0 auto;
}
.post-content-body pre {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: var(--normal-font-size);
}
/* Comment */
.comment {
  position: relative;
  background: #fff;
  margin-top: 15px;
  padding: 6px 15px;
  display: flex;
}
.comment .goto-post-btn{
  position: absolute;
  display: inline-block;
  right: 0;
  padding: 5px;
  font-size: 11px;
  color: #aaa;
  text-decoration: underline;
}
.comment .goto-post-btn:hover{
  color:var(--main-dark-gray-color);
}
.comment div.comment-vote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.comment div.comment-vote > button {
  background: inherit;
  padding: 0;
}
.comment div.comment-vote > button img {
  width: calc(var(--content-icon-size) - 5px);
  height: calc(var(--content-icon-size) - 5px);
}
.comment-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.comment div.comment-left p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: calc(var(--normal-font-size) - 4px);
  margin-top: 4px;
  word-break: break-word;
}
div.comment div.comment-left div.comment-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div.comment div.comment-left div.comment-meta h3 {
  font-family: Tekton-pro, sans-serif;
  font-size: calc(var(--normal-font-size) - 1px);
  font-weight: 700;
}
div.comment div.comment-left div.comment-meta span {
  font-size: 12px;
  margin-left: 2px;
}
div.mobile-write-comment {
  display: none;
}
/* User Info Sidebar */
.right-sidebar.user-sidebar {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}
div.user-container div.container-top {
  width: 100%;
  background-color: var(--main-red-color);
  height: 110px;
}
div.user-container .container-bottom {
  position: relative;
  display: flex;
  height: 65px;
}
div.user-container .container-bottom > img {
  width: 120px;
  height: 120px;
  position: relative;
  top: -55px;
}
div.user-container .container-bottom ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-left: 5px;
}
div.user-container .container-bottom ul li:first-child {
  margin-top: 5px;
}
div.user-container .container-bottom ul li h2 a {
  color: #fff;
  font-size: var(--big-font-size);
  font-family: Tekton-pro, sans-serif;
  font-weight: 700;
}
div.user-container .container-bottom ul li a img {
  width: calc(var(--post-image-size) - 5px);
  height: calc(var(--post-image-size) - 5px);
}
div.user-container .container-bottom ul li.message-icon-container {
  text-align: end;
  margin-right: 4px;
}
aside.user-sidebar ul.post-actions {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
aside.user-sidebar ul.post-actions li.post-vote,
aside.user-sidebar ul.post-actions li.post-comment-number {
  display: flex;
  align-items: center;
}
aside.user-sidebar ul.post-actions li.post-vote img {
  width: var(--content-icon-size);
  height: var(--content-icon-size);
}
aside.user-sidebar ul.post-actions li.post-comment-number img {
  width: calc(var(--content-icon-size) + 2px);
  height: calc(var(--content-icon-size) + 2px);
}
aside.user-sidebar ul.post-actions span,
aside.user-sidebar ul.post-actions li.post-comment-number a {
  color: #fff;
  font-size: 22px;
  font-family: Tekton-pro, sans-serif;
  font-weight: 700;
}
aside.user-sidebar ul.post-actions li.post-comment-number a {
  margin-left: 10px;
}
aside.user-sidebar ul.post-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
aside.user-sidebar ul.post-share li {
  margin-left: 10px;
}
aside.user-sidebar ul.post-share a[target="_blank"]{
  padding: 0px;
}
aside.user-sidebar ul.post-share img {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
}
.write-comment {
  background: #fff;
  margin-top: auto;
}
.write-comment textarea {
  width: 100%;
  border: none;
  outline: none;
  min-height: 120px;
  resize: none;
  font-size: var(--normal-font-size);
  font-family: Tekton-pro, sans-serif;
  font-weight: 700;
  padding: 5px;
}
.write-comment button {
  display: block;
  margin-left: auto;
}
.write-comment button img {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
}
/* Right Sidebar */
aside.right-sidebar {
  flex-basis: 28%;
  overflow: auto;
  background-color: #484444;
  border-radius: 4px;
  padding: 4px 8px;
  max-height: 85vh;
  min-height: 60vh;
}
aside.right-sidebar > ul.popular-list li {
  max-height: 100px;
  min-height: 40px;
  display: flex;
  padding: 5px 10px;
  background-color: #4c4848;
  margin-bottom: 5px;
  align-items: center;
}
aside.right-sidebar > ul.popular-list li.more-trends {
  border: none;
  background-color: inherit;
}
aside.right-sidebar > ul.popular-list li.more-trends a {
  font-size: var(--small-font-size);
  display: block;
  margin-left: auto;
  font-family: Tekton-pro, sans-serif;
  text-decoration: underline;
}
aside.right-sidebar > ul.popular-list li.more-trends a:hover{
  color: var(--main-red-color);
}
aside.right-sidebar div.go-btn-wrapper {
  background: #5e5a5a;
  padding: 3px;
  margin-left: auto;
}
.right-sidebar ul.popular-list li div.go-btn-wrapper a img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
aside.right-sidebar ul.popular-list li:last-child {
  border-bottom: none;
}
aside.right-sidebar ul.popular-list li a {
  color: #fff;
  font-size: calc(var(--small-font-size) + 5px);
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: 500;
}
aside.right-sidebar ul.popular-list li a p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Loading Container */
div.loading-container img {
  display: block;
  margin: auto;
  margin-top: 15px;
}
/* Single Error */
.error-container {
  background-color: #f00;
  color: white;
  font-size: 22px;
  font-style: oblique;
  padding: 8px;
  margin-top: 15px;
}
/* Modal */
.ReactModal__Content.ReactModal__Content--after-open {
  padding: 0 !important;
  overflow: hidden !important;
  border: none !important;
  width: 500px !important;
}
.modal-header {
  width: 100%;
  background: var(--main-red-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .navbar-brand {
  justify-content: start;
}
.modal-header button {
  font-size: 36px;
  background-color: inherit;
}
.modal-content {
  background: var(--main-bg-color);
  padding: 40px 35px 25px;
}
.modal-content * {
  color: #fff;
}
/* Login Modal */

input.default-input {
  border-radius: 4px;
  color: #484848;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
}
.modal-content div.form-wrapper form {
  text-align: right;
}
.modal-content button.btn-login {
  margin-top: -15px;
  font-size: 16px;
  width: 110px;
  height: 35px;
}
.modal-content button.btn-register {
  background-color: var(--main-green-color);
}
.modal-content button.btn-login:hover {
  background-color: var(--main-red-color);
}
div.form-wrapper + p {
  font-size: 22px;
}
div.form-wrapper + p button {
  text-decoration: underline;
  background: inherit;
  font-size: 22px;
  margin-left: -8px;
}
div.form-wrapper + p.not-member button {
  color: var(--main-green-color);
}
div.form-wrapper + p.already-member button {
  color: var(--second-red-color);
}
div.form-wrapper + p.already-member button:hover {
  color: var(--main-red-color);
}
div.form-wrapper + p.already-member + p {
  font-size: 13px;
}
div.form-wrapper + p button:hover {
  cursor: pointer;
}
div.modal-content ul.login-footer {
  display: flex;
  margin-top: 5px;
}
div.modal-content ul.login-footer li {
  margin-top: 15px;
}
div.modal-content ul.login-footer li:first-child {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid var(--main-gray-color);
}
div.modal-content ul.login-footer li a:hover {
  color: var(--main-red-color);
}

/* Media With - Responsive */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: 22px;
    --normal-font-size: 18px;
    --small-font-size: 14px;
    --post-image-size: 34px;
    --header-icon-size: 22px;
    --content-icon-size: 24px;
    --header-height: 45px;
  }
  div.navbar-brand img.navbar-logo {
    width: 40px;
    height: 32px;
  }
  aside.left-sidebar {
    flex-basis: 15%;
  }
  div.content {
    margin: 0 30px;
  }
  div.post-content p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .right-sidebar ul li div.go-btn-wrapper a img {
    width: 15px;
    height: 12px;
  }
  div.user-container div.container-top {
    height: 90px;
  }
  div.user-container .container-bottom {
    height: 50px;
  }
  div.user-container .container-bottom > img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
}
@media screen and (max-width: 990px) {
  div.user-container .container-bottom ul li h2 a {
    font-size: var(--normal-font-size);
  }
  div.user-container .container-bottom ul li a img {
    width: var(--content-icon-size);
    height: var(--content-icon-size);
  }
  aside.user-sidebar ul.post-share li a.default-btn.group-btn {
    padding: 2px;
  }
}
@media screen and (max-width: 935px) {
  div.user-container .container-bottom > img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
  div.user-container .container-bottom {
    height: 50px;
  }
}
@media screen and (max-width: 850px) {
  div.user-container div.container-top {
    height: 50px;
  }
  div.user-container .container-bottom > img {
    width: 60px;
    height: 60px;
    top: -30px;
  }
  div.user-container .container-bottom ul li h2 a {
    font-size: calc(var(--normal-font-size) - 2px);
  }
  div.user-container .container-bottom {
    height: 30px;
  }
}

@media screen and (max-width: 730px) {
  :root {
    --big-font-size: 20px;
    --small-font-size: 12px;
    --content-icon-size: 18px;
  }
  ul.navbar-right > li {
    margin-right: 6px;
  }
  aside.left-sidebar {
    flex-basis: 20%;
  }
  div.content {
    margin: 0 15px;
  }
  ul.post-header li div span {
    font-size: calc(var(--small-font-size) - 2px);
  }
  .post-footer ul.post-actions img {
    width: calc(var(--content-icon-size) - 4px);
    height: calc(var(--content-icon-size) - 4px);
  }
  .post-footer span {
    font-size: calc(var(--small-font-size) + 4px);
  }
  .post-footer li.post-vote > span {
    padding-bottom: 2px;
  }
  aside.right-sidebar ul li a {
    font-size: calc(var(--small-font-size) + 2px);
  }
  .post-content-top a {
    position: initial;
  }
  /* Post Details */
  aside.user-sidebar ul.post-actions li.post-vote img,
  aside.user-sidebar ul.post-actions li.post-comment-number img {
    width: calc(var(--content-icon-size) - 2px);
    height: calc(var(--content-icon-size - 2px));
  }
}
@media screen and (max-width: 620px) {
  div.page-content {
    padding: 0;
  }
  aside.right-sidebar,
  aside.right-sidebar.user-sidebar {
    display: none;
  }
  /* Post Details */
  div.content {
    flex: 1;
    margin: 2px 10px;
  }
  ul.post-header.post-detail {
    display: flex !important;
  }
  div.comment-list {
    margin-bottom: var(--header-height);
  }
  .comment {
    margin-top: 2px;
    border-radius: 4px;
  }
  div.mobile-write-comment {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #000;
    padding: 5px;
    color: #ffffff;
    height: var(--header-height);
    justify-content: space-around;
    align-items: center;
  }
  div.mobile-write-comment button.default-btn {
    padding: 4px 10px;
  }
  .mobile-write-comment img {
    width: var(--content-icon-size);
    height: var(--content-icon-size);
  }
  .mobile-write-comment ul.post-actions {
    display: flex;
    margin-right: 5px;
  }
  .mobile-write-comment ul.post-actions > li {
    display: flex;
    align-items: center;
  }
  .mobile-write-comment ul.post-actions li.post-comment-number a {
    color: #fff;
    margin-left: 5px;
  }
  .mobile-write-comment .write-comment {
    border-radius: 6px;
  }
  .mobile-write-comment .write-comment button.default-btn {
    padding: 4px 1px;
  }
  .mobile-write-comment .write-comment form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-write-comment .write-comment textarea {
    width: 100%;
    min-height: initial;
    height: 25px;
    padding: 0 2px;
  }
  .post-header ul.post-share li {
    display: inline-block;
  }
  .post-header ul.post-share button {
    background: inherit;
    border: none;
    outline: none;
  }
  .post-header ul.post-share img {
    width: var(--content-icon-size);
    height: var(--content-icon-size);
    border-radius: 0;
    clear: float;
  }
}
@media screen and (max-width: 575px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90% !important;
  }
}
/* Mobile */
@media screen and (max-width: 490px) {
  nav {
    height: calc(var(--header-height) + var(--header-height));
    background: #000;
  }
  div.navbar-brand img.navbar-logo {
    width: 36px;
    height: 30px;
  }
  nav ul.navbar-right > li:first-child {
    display: none;
  }
  nav ul.navbar-right > li button.btn-login {
    background: inherit;
    color: var(--second-red-color);
  }
  nav ul.navbar-right > li button.btn-register {
    background: var(--main-gray-color);
    color: var(--main-green-color);
  }
  ul li.profile-item,
  li.profile-item ul.profile-actions {
    background-color: var(--main-gray-color);
  }
  li.profile-item ul.profile-actions li,
  li.profile-item ul.profile-actions li:first-child {
    border-color: var(--main-dark-gray-color);
  }
  ul li.profile-item img.navbar-user-img {
    margin-right: 0px;
  }
  ul li.profile-item h3 a,
  ul li.profile-item a.profile-caret {
    color: #fff;
  }
  nav div.mobile-sub-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }
  nav div.mobile-sub-header form {
    background-color: var(--main-gray-color);
    border-radius: 4px;
    padding: 4px 2px;
    display: flex;
  }
  nav div.mobile-sub-header form img {
    width: calc(var(--header-icon-size) - 2px);
    height: calc(var(--header-icon-size) - 2px);
  }
  nav div.mobile-sub-header form input {
    border: none;
    outline: none;
    background-color: inherit;
    color: #fff;
    margin-right: 5px;
    width: 100%;
    padding: 0 0 0 4px;
  }
  nav div.mobile-sub-header a {
    background: #383838;
    display: block;
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px;
  }
  nav div.mobile-sub-header a img {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
  }
  div.page-content {
    margin: 0;
  }
  aside.left-sidebar {
    display: none;
  }
  div.content {
    margin: 2px 3px;
  }
  div.post {
    margin-bottom: 5px;
  }
  div.post,
  div.post-footer {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  div.post-footer {
    background-color: #a5a5a5;
  }
  div.home-new-post {
    display: none;
  }

  /* New Post */

  div.new-post-content {
    flex-direction: column;
  }
  div.new-post-content > div:first-child {
    display: none;
  }
  div.new-post-content form input.post-title {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  div.new-post-content form {
    order: 2;
  }
  .new-post-content .groups-input-container {
    margin-left: 0;
    order: 1;
  }
}
@media screen and (max-width: 431px) {
  input.default-input {
    height: 30px;
    font-size: 13px;
  }
  .modal-content button.btn-login {
    width: 80px;
    height: 30px;
    font-size: 14px;
  }
  div.form-wrapper + p,
  div.form-wrapper + p button {
    font-size: 18px;
  }
  div.modal-content ul.login-footer li {
    margin-top: 0px;
  }
  div.modal-content ul.login-footer li a {
    font-size: 15px;
  }
}
